.header {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgb(200, 200, 200);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header .logo {
  padding-left: 100px;
}

.header .lab_world {
  padding-right: 100px;
}

.header .lang_btns {
  display: flex;
  padding-right: 100px;
}

.header .lang_btns button {
  font-size: 18px;
  color: #969696;
  outline: none;
  border: none;
  background: none;
  font-family: lato-bold;
  cursor: pointer;
}

.header .lang_btns button:last-child {
  padding-left: 12px;
}

.header .lang_btns .active {
  color: #000;
}

@media only screen and (max-width: 920px) {
  .header .logo {
    padding-left: 15px;
  }

  .header .lab_world {
    padding-right: 15px;
  }

  .header .lang_btns {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 660px) {
  .header .lab_world {
    display: none;
  }
}
