* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/images/room_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: lato;
  overflow: hidden;
}

.yellow-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 143, 5, 0.75);
  z-index: -1;
}

.raining_circles .field {
  height: 100vh;
  position: relative;
  z-index: -1;
}

.dot {
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
}

iframe {
  pointer-events: none;
}

@font-face {
  font-family: lato-thin;
  src: url(./assets/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(./assets/fonts/Lato-Bold.ttf);
}
